<ion-header>

  <ion-navbar>
    <ion-title>Schedule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>Great River Region</ion-list-header>
    <ion-item *ngFor="let eventItem of eventsGrr">
      <div (click)="viewEvent(eventItem)">
        {{eventItem.start}} <br>
        {{eventItem.venue.name}}
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Iowa Region</ion-list-header>
    <ion-item *ngFor="let event of eventsIowa" (click)="viewEvent(event)">
      {{event.start}} <br>
      {{event.venue.name}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Des Moines Valley Region</ion-list-header>
    <ion-item *ngFor="let event of eventsDmvr" (click)="viewEvent(event)">
      {{event.start}} <br>
      {{event.venue.name}}
    </ion-item>
  </ion-list>
</ion-content>
