<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <sebm-google-map>
    <google-map-component (mapLoaded)="onMapLoaded()"></google-map-component>
    <sebm-google-map-marker
      [latitude]="eventItem.venue.geo.coordinates[1]"
      [longitude]="eventItem.venue.geo.coordinates[0]">
    </sebm-google-map-marker>
  </sebm-google-map>

 <div padding class="event">
    <ion-label>{{eventItem.organization.name}}</ion-label>
    <ion-label>{{ _dateSvc.toMonthAndDay(eventItem.start) }}</ion-label>
    <ion-label>{{eventItem.venue.name}}</ion-label>
 </div>


  <div class="desc">
    <ion-list-header>Description</ion-list-header>
    <div class="desc-body" [innerHTML]="eventItem.description"></div>
  </div>

  <div class="drivers">
    <ion-list-header>Registered Drivers</ion-list-header>
    <ion-list *ngIf="driversLoaded">
      <ion-item *ngFor="let driver of drivers"  >
        {{ driverLine1(driver) }} <br>
        {{ driverLine2(driver) }}
      </ion-item>
    </ion-list>
    <ion-spinner *ngIf="!driversLoaded"></ion-spinner>
  </div>
</ion-content>
